{######################################################################
                Vista para mostrar el detalle de estudio.
#######################################################################}
{% include "OpltdaPaginasBundle:Default:estPrincipal.html.twig" %}
<div class="page-content">
    {% block detalleEstudio%}
        
    {% endblock%}
</div>
