
       {% include "OpltdaPaginasBundle:Default:estPrincipal.html.twig" %}
                    



 <script>
 
 
$(document).ready(function(){
     $('#focusGroup').dataTable()
		 .columnFilter({ sPlaceHolder: "head:after",
                                                             aoColumns: [

		        { type: "text" },
		        { type: "text" },
                                        { type: "text" }
	
		  

				]

		});
});

             </script>
             
             




<div id="page-content">
                        
             
                        
                        
{% block listarFocusGroup %}
	<table class="table" id="focusGroup">
		<thead>
			<th>Puertos</th>
			<th>Transacciones</th>
			<th>Categorizaciones</th>
		<thead>
		<tbody>
		{% for focusgroup in focusgroup %}
		<tr>
			<td>{{focusgroup.id}}</td>
			<td>{{focusgroup.trascripciones}}</td>
			<td>{{focusgroup.categorizaciones}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
                    </div><!-- #page-content -->
                </div><!-- #page-main -->
            </div><!-- #page-main-wrapper -->
        </div><!-- #page-wrapper -->
    </body>
</html>                        