{# empty Twig template #}

       {% include "OpltdaPaginasBundle:Default:estPrincipal.html.twig" %}




<style>

     .dataTables_length{
                                position: absolute;
                                width: 100px;
                               
                                
                                }
                                
 #inversionVial_filter{
     display: none;
     
     }
                            
                                
    </style>
    
    
<h4 class="heading-1 clearfix">
    <br>

    <div class="heading-content"></div>
    <div class="clear"></div>
    <div class="divider"></div>

</h4>


 <script>
     
 
 
$(document).ready(function(){
     $('#inversionVial').dataTable()
		 .columnFilter({ sPlaceHolder: "head:after",
                                                             aoColumns: [

		        { type: "text" },
		        { type: "text" },
                                        { type: "text" }
	
		  

				]

		});
});

             </script>
             
             


                    <div id="page-content">
{% block inversionvial %}
                            
                             <h3>Listados Memoria Calculo </h3>
                            
 
                            
                            
                            <table class="table"  id="inversionVial" >
		<thead>
			<th width="20%">Cadena</th>
			<th width="20%">Archivo</th>
                        
                        
                                                
			
		
		</thead>
		<tbody>
		{% for memoriaCalculo in memoriaCalculo %}
                        
                        <tr>
                    <td>{{memoriaCalculo.cadenas.nombre}}      </td>  
                    <td> <a href="../web/archivos/memoriaC/{{memoriaCalculo.url}}" target="_blank">Archivo</a></td>
                                
                        </tr>
                                {% endfor %}
		
                      
		</tbody>
	</table>
{% endblock %}
                    </div><!-- #page-content -->
                </div><!-- #page-main -->
            </div><!-- #page-main-wrapper -->
        </div><!-- #page-wrapper -->
    </body>
</html>