       {% include "OpltdaPaginasBundle:Default:estPrincipal.html.twig" %}



<style>

     .dataTables_length{
                                position: absolute;
                                width: 100px;
                               
                                
                                }
                            
                                
 #inversionVial_filter{
        
        display:none;
        
        
        }
        
                                
    </style>
    
    

<h4 class="heading-1 clearfix">
    <br>

    <div class="heading-content"></div>
    <div class="clear"></div>
    <div class="divider"></div>

</h4>


 <script>
     
 
 
$(document).ready(function(){
     $('#inversionVial').dataTable()
		 .columnFilter({ sPlaceHolder: "head:after",
                                                             aoColumns: [

		        { type: "select", values: [ '4' , '5' , '8' , '12' ]  },
		        { type: "text" },
                                        { type: "text" }
                                        
	
		  

				]

		});
});

             </script>
             
             


                    <div id="page-content">
{% block inversionvial %}
                            
                             <h3>Listados archivos de Inversión Vial</h3>
                            
 
                            
                            
                            <table class="table"  id="inversionVial" >
		<thead>
			<th>Region</th>
			<th>Nombre</th>
                                                <th>Archivo</th>
			
		
		</thead>
		<tbody>
			{% for inversionvial in inversionvial %}
		
                        <tr>
                        <td>{{inversionvial.regiones.numero}}</td>
			<td>{{inversionvial.nombre}}</td>
                                                <td>{% set archivo = inversionvial.archivosinversionvial %}
                                                   
                                                   
                                                     {% for archivo in archivo %} 
                                                    
                                       
                                                
                                                    <a href="../web/archivos/inversionVial/{{archivo.url}}" target="_blank">Archivo</a>
                                                        
                                                     
                                                    {% endfor %}    
                                                
                                                </td>
                                                </tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
                    </div><!-- #page-content -->
                </div><!-- #page-main -->
            </div><!-- #page-main-wrapper -->
        </div><!-- #page-wrapper -->
    </body>
</html>