       {% include "OpltdaPaginasBundle:Default:estPrincipal.html.twig" %}



<h4 class="heading-1 clearfix">
    <br>
<span style="margin-left: 2%;margin-top: 2%;width: 200px;height: 20px;">Inversión Vial</span>
    <div class="heading-content"></div>
    <div class="clear"></div>
    <div class="divider"></div>

</h4>


 <script>
     
 
 
$(document).ready(function(){
     $('#inversionVial').dataTable()
		 .columnFilter({ sPlaceHolder: "head:after",
                                                             aoColumns: [

		        { type: "text" },
		        { type: "text" },
                                        { type: "text" }
	
		  

				]

		});
});

             </script>
             
             


                    <div id="page-content">
{% block inversionvial %}
                            
                            
 
                            
                            
                            <table class="table"  id="inversionVial" >
		<thead>
			<th>Region</th>
			<th>Nombre</th>
                                                <th>Archivo</th>
			
		
		</thead>
		<tbody>
			{% for inversionvial in inversionvial %}
		
                        <tr>
                        <td>{{inversionvial.regiones.nombre}}</td>
			<td>{{inversionvial.nombre}}</td>
                                                <td>{% set archivo = inversionvial.archivosinversionvial %}
                                                   
                                                   
                                                     {% for archivo in archivo %} 
                                                    
                                       
                                                
                                                    <a href="../web/archivos/inversionVial/{{archivo.url}}" target="_blank">Archivo</a>
                                                        
                                                     
                                                    {% endfor %}    
                                                
                                                </td>
                                                </tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
                    </div><!-- #page-content -->
                </div><!-- #page-main -->
            </div><!-- #page-main-wrapper -->
        </div><!-- #page-wrapper -->
    </body>
</html>